{% extends 'dashboard/base.html' %}

{% block title %}My Dashboard{% endblock %}

{% block content %}
<div class="hero-section">
  <h2>Dashboard</h2>
  <a href="{% url 'home' %}" class="btn btn-warning btn-lg mx-2">Return to Homepage</a>
</div>
<div class="container">
    <h2 class="text-center">My Dashboard</h2>

    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'dashboard:my_posts' %}" class="btn btn-primary w-100 my-2">My Forum Posts</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'my_events' %}" class="btn btn-info w-100 my-2">My Study Sessions</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'dashboard:profile' %}" class="btn btn-success w-100 my-2">My Profile</a>
        </div>
    </div>
</div>
{% endblock %}



