modules = ["python-3.11", "postgresql-16"]
run = "python myCWK/manage.py runserver"

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python manage.py runserver"]
deploymentTarget = "cloudrun"
always-on = true

[auth]
pageEnabled = true
buttonEnabled = false

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 80
exposeLocalhost = true
