modules = ["nodejs-20", "postgresql-16", "python-3.11"]
run = "python myCWK/manage.py runserver 0.0.0.0:8000"

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
deploymentTarget = "static"
always-on = true
publicDir = "./"

[auth]
pageEnabled = true
buttonEnabled = false

[[ports]]
localPort = 8000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 4026445

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python myCWK/manage.py runserver"
