{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container mt-5">
  <h3>Forgot Password</h3>

  <form action="{% url 'password_reset_request' %}" method="post">
    {% csrf_token %}

    {% if messages %}
        {% for message in messages %}
            <p style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}

    <label for="email">Email Address</label>
    <input type="email" id="email" name="email" class="form-control mb-3" placeholder="Enter Your Email Address" required>

    <button type="submit" class="btn btn-primary">Send Email</button>
    <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>

  </form>
</div>
{% endblock %}

