<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Authentication</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>

  <h3>Login</h3>
  <form action="/login/" method="post">
    {% csrf_token %}
    {% if messages %}
      {% for message in messages %}
          <p style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">
              {{ message }}
          </p>
      {% endfor %}
    {% endif %}
    <label for="email">Email Address</label>
    <input type="email" id="email" name="email" placeholder="Enter Your Email Address" required>
    <br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter Your Password" required>
    <br>
    <button type="submit">Login</button>
  </form>
  <a href="/">Home</a>
  <a href="{% url 'password_reset_request' %}" class="button">Forgot Password</a>

  <script src="" async defer>  </script>

</body>
</html>
